/* CSS/LESS by CXElegance.com */

/* LESS variables */
@color_my_white:        #FFFBF5;
@color_bridal_tuesday:  #FFF3E3;
@color_dirty_ink:       #171006;
@color_wispy_clouds:    #91C1E3;
@color_birdymachine:    #2B1E0B;
@color_creamsicle:      #FFBF66;

@fat:       0.04em;
@fatter:    0.05em;
@fatterr:   0.1em;
@fatterrr:  0.4em;
@cram:     -0.05em;
@crammer:  -0.1em;

@fontYanone: 'Yanone Kaffeesatz', sans-serif;
@fontOswald: 'Oswald', sans-serif;
@fontLobster: 'Lobster', cursive;

@fontSize50: 5.0em; /* 50px */
@fontSize40: 4.0em; /* 40px */
@fontSize23: 2.3em; /* 23px */
@fontSize21: 2.1em; /* 21px */
@fontSize20: 2.0em; /* 20px */
@fontSize18: 1.8em; /* 18px */

body,html {
	width: 100%;
	margin: 0px 0px;
	font-family: @fontYanone;
	background-color: @color_my_white;
}
body {
	font-size: 0.625em; /* 0.625 em x 16 px/em = 10 px  ... should be 16 px/em... this is for matching Gimp */
}

a {
	text-decoration: none;
	color: inherit;
}
#topdock {
	width: 100%;
	position: fixed;
	height: 50px;
	background-color: @color_dirty_ink;
	z-index: 2;
}
a.topdock_text, .detail_display .CXEpage_detail .close {
	color: @color_my_white; /* .color_my_white */
	padding: 4px 5px;
	margin: 2px 1px;
	display: inline-block;
}
.page {
	width: 100%;
	padding: 100px 0 2em 0;
	background-repeat: repeat-y;
	background-position: center top;
	.linkstyle {
		color: @color_creamsicle;
	}
}
.content_area {
	width: 85%; /* 90% */
	max-width: 1000px;
}
.content_area_narrower {
	/* page1 uses this, perhaps other pages? */
	width: 80%;
}
.row {
	width: 100%; /* 80% */
}
.row_spacer {
	display: inline-block;
	width: 2%; /* this shall be calculated on resize */
	height: 3px;
}

.centered {
	margin-left: auto;
	margin-right: auto;
}
.flexbox {
	display: flex;
}
.hideable {
	/* will be played with on window resizes */
}
.overflow_hidden {
	overflow: hidden;
}
.hidden {
	display: none;
}
.fullwidth {
	width: 100%;
}
.halfwidth {
	width: 50%;
}
.popup_minwidth {
	min-width: 450px;
}
.clearfloat {
	width: 100%;
	clear: both;
}
.floatright {
	float: right;
}
.floatleft {
	float: left;
}
.font_yanone {
	font-family: @fontYanone;
}
.font_oswald {
	font-family: @fontOswald;
}
.font_lobster {
	font-family: @fontLobster;
}
.font_size_50 {
	font-size: 5.0em; /* 50px */
}
.font_size_40 {
	font-size: 4.0em; /* 40px */
}
.font_size_23 {
	font-size: 2.3em; /* 23px */
}
.font_size_21 {
	font-size: 2.1em; /* 21px */
}
.font_size_20 {
	font-size: 2.0em; /* 20px */
}
.font_size_18 {
	font-size: 1.8em; /* 18px */
}
.colorWhite {
	color: @color_my_white;
}
.fat {
	letter-spacing: @fat;
}
.fatter {
	letter-spacing: @fatter;
}
.fatterr {
	letter-spacing: @fatterr;
}
.fatterrr {
	letter-spacing: @fatterrr;
}
.cram {
	letter-spacing: @cram;
}
.crammer {
	letter-spacing: @crammer;
}
.linkstyle {
	font-weight: bold;
}
h2 {
	font-family: @fontYanone;
	font-size: @fontSize23;
	margin: 1.5em 0 0.4em 0;
}
h5 {
	margin: 0;
	border-bottom: 4px solid @color_creamsicle;
	display: inline-block;
	font-size: inherit;
	font-weight: inherit;
}
.detail {
	font-size: @fontSize18;
	border: 4px solid @color_creamsicle;
	border-radius: 1em;
	padding: .7em 1em 0 1em;
	background: rgba(255, 255, 255, 0.2);
	font-family: @fontOswald;
}

/* general layout positioning and typo tweeking */

#topdock>div {
	width: 100%;
	max-width: 1280px;
}
#topdock>div>.floatleft,.detail_display .topdock>.floatleft {
	font-size: 3.0em; /* 30 px */
	letter-spacing: 0.04em;
}
#topdock>div>.floatright {
	font-size: 5.5em; /* 55 px */
	letter-spacing: @crammer;
	line-height: 0.4em;
}
.detail_display .CXEpage_detail .close {
	font-size: 5.0em; /* 50 px */
	letter-spacing: @crammer;
	line-height: 0.4em;
	padding: 4px 9px 19px 4px;
	position: absolute;
	right: 0;
}
.detail_display .CXEpage_detail .title {
	width: 100%;
	font-size: 2.5em; /* 25 px */
	text-align: center;
	filter: Alpha(opacity=20);
	opacity: 0.2;
	.font_yanone;
}
.detail_display .CXEpage_detail .hr {
	margin-top: 4px;
	margin-bottom: 16px;
	display: block;
	background-color: @color_wispy_clouds;
	width: 95%;
	height: 3px;
	border: 1px solid @color_wispy_clouds;
	border-radius: 2px;
	.centered;
}
.detail_display {
	margin: auto;
	width: 50%;
	min-width: 400px;
	color: @color_birdymachine;
}
.detail_display .CXEpage_detail .topdock {
	width: 100%;
	height: 50px;
	background-color: @color_dirty_ink;
	position: relative;
	.font_yanone;
}
.detail_display .inner {
	background-color: @color_my_white;
	border: 4px solid @color_creamsicle;
	border-radius: 25px;
}
.detail_display .CXEpage_detail .content {
	padding: 0px 16px 16px 16px;
	font-size: 2.0em; /* 20px */
}
#topdock>div>.floatright>.topdock_text {
	padding: 4px 13px 19px 10px;
}
a.linky {
	font-size: @fontSize18;
	letter-spacing: @fatter;
	display: block;
}
/* row/page specific layout and tweeking */

/* page1 */

#page1 {
	background-color: @color_my_white;
	color: @color_birdymachine;
	background-image: url('../01_pics/05_page1_bg.png');
}
#row1,#row3,#row4 {
	/* for the home page links */
	font-size: 2.0em; /* 20px */
	letter-spacing: @fatter;
}
#row3,#row4 {
	padding-top: 29px;
}
#row2 .row_content {
	vertical-align: middle; /* get the right hand text in the middle in FFox */
}
#row2>.font_oswald {
	/* for "web and tech services" and "the client experience" */
	text-align: center;
	font-size: 2.1em; /* 21px */
}
.logo {
	/* for CXElegance logo */
	font-size: 8.1em; /* 81px */
	max-height: 120px;
}
#row2>div>div:nth-child(2) {
	width: 100%;
}
img#underline {
	/* for CXunderline graphic */
	max-width: 100%;
	position:relative;
	top: -20px;
}
.CXunderline {
	/* may not be using this, may be selecting the img under the row # */
	background-image: url('../01_pics/04_underline.png');
	background-repeat:no-repeat;
	background-position: left bottom;
	height: 115px; /* this makes the underline graphic sit nicely */
	min-width: 369px; /* we don't want to clip any of the graphic off */
}

/* page 2 */

#page2 {
	background-color: @color_wispy_clouds;
	color: @color_birdymachine;
	background-image: url('../01_pics/06_page2_bg.png');
}
#page2 #row6 {
	padding-top: 24px;
}
#page2 #row7 {
	padding-top: 35px;
}
#page2 .row {
	>div>div {
		>span:nth-child(1) {
			/* the testimonial text */
			display: block;
			color: @color_my_white;
			.font_oswald;
			.font_size_21;
		}
	}
}
.testimonial_detail {
	>div:nth-child(1) {
		/* name */
		font-size: 0.8em;
		padding-left: 20px;
	}
	>div:nth-child(2) {
		/* company / website */
		font-size: 0.8em;
		padding-left: 20px;
		padding-bottom: 15px;
	}
	>div:nth-child(3) {
		/* blockquote testimonial */
		font-style: italic;
	}
}

/* page 3 */

#page3 {
	background-color: @color_my_white;
	color: @color_birdymachine;
	background-image: url('../01_pics/07_page3_bg.png');
}
#page3 #row9 {
	padding-top: 22px;
}
#page3 #row10 {
	padding-top: 4px;
}
#page3 .row {
	>div>div {
		/* the bordered box */
		border: 2px solid @color_wispy_clouds;
		padding-left: 4px;
		height: 120px;
		width: 120px;
		>div:nth-child(1) {
			/* the date */
			text-align: right;
			.font_oswald;
			font-size: 1.7em; /* 17px */
			line-height: 1em;
		}
		>div:nth-child(2) {
			/* job title */
			.font_oswald;
			font-size: 1.7em; /* 17px */
			letter-spacing: @cram;
			padding-top: 15px;
		}
		>div:nth-child(3) {
			/* employer */
			.font_oswald;
			font-size: 1.3em; /* 13px */
			padding: 7px 0px 7px 0px;
		}
	}
}
.resume_detail {
	>div:nth-child(1) {
		/* date range */
	}
	>div:nth-child(2) {
		/* job title */
		font-style: italic;
	}
	>div:nth-child(3) {
		/* company name */
		font-size: 0.8em;
		padding-left: 20px;
	}
	>div:nth-child(4) {
		/* location */
		font-size: 0.8em;
		padding-left: 20px;
	}
	>div:nth-child(5) {
		/* contract */
		font-size: 0.8em;
		padding-left: 20px;
	}
	>div:nth-child(6) {
		/* CX question */
		padding-top: 10px;
		font-style: italic;
	}
	>div:nth-child(7) {
		/* CX answer */
		padding-top: 10px;
	}
}

/* portfolio pages: general */

.portfolio_page {
	background-repeat: no-repeat;
	background-position: center top;
	.row:nth-child(2) {
		/* this hits the second row of each page */
		padding-top: 22px;
	}
	.row {
		>div:nth-child(2) {
			vertical-align: top;
			>div:nth-child(1) {
				/* a spacer only */
				height: 78px;
				width: 100%;
			}
			>div:nth-child(2) {
				/* the image is in here */
				vertical-align: top;
				width: auto;
				min-width: 200px;
				max-width: 355px;
				img, video {
					max-width: 100%;
					border-width: 2px;
					border-style: solid;
				}
			}
		}
		>div:nth-child(4) {
			vertical-align: top;
			.font_oswald;
			max-width: 500px;
			width: 50%;
			min-width: 300px;
			>div:nth-child(1) {
				/* website title */
				.font_yanone;
				font-size: 4.7em;
				padding-bottom: 22px;
			}
			>div:nth-child(2),>div:nth-child(3),>div:nth-child(4) {
				.font_size_20;
				>div:nth-child(1) {
					/* question */
					display: inline-block;
					width: 80px;
					text-align: right;
					vertical-align: top;
					padding-right: 8px;
				}
				>div:nth-child(2) {
					display: inline-block;
					width: 75%;
					>div:nth-child(1) {
						/* answer */
						vertical-align: top;
						width: 100%;
					}
					>div:nth-child(2) {
						/* "read more" link */
						width: 120px;
					}
				}
			}
		}
	}
}

/* page 4 */

#page4, #page8 {
	background-color: @color_creamsicle;
	color: @color_birdymachine;
	background-image: url('../01_pics/10_page4_bg.png');
	.linkstyle {
		color: @color_wispy_clouds;
	}
}
#page4 .row, #page8 .row {
	>div:nth-child(2) {
		>div:nth-child(2) {
			/* the image is in here */
			img, video {
				border-color: @color_wispy_clouds;
			}
		}
	}
	>div:nth-child(4) {
		>div:nth-child(1) {
			/* website title */
			color: @color_my_white;
		}
		>div:nth-child(2),>div:nth-child(3),>div:nth-child(4) {
			>div:nth-child(2) {

			}
		}
	}
}

/* page 5 */

#page5 {
	background-color: @color_bridal_tuesday;
	color: @color_birdymachine;
	background-image: url('../01_pics/13_page5_bg.png');
}
#page5 .row {
	>div:nth-child(2) {
		>div:nth-child(2) {
			/* the image is in here */
			img, video {
				border-color: @color_wispy_clouds;
			}
		}
	}
	>div:nth-child(4) {
		>div:nth-child(1) {
			/* website title */
			color: @color_wispy_clouds;
		}
		>div:nth-child(2),>div:nth-child(3),>div:nth-child(4) {
			>div:nth-child(2) {

			}
		}
	}
}

/* page 6 */

#page6 {
	background-color: @color_birdymachine;
	color: @color_bridal_tuesday;
	background-image: url('../01_pics/14_page6_bg.png');
}
#page6 .row {
	>div:nth-child(2) {
		>div:nth-child(2) {
			/* the image is in here */
			img, video {
				border-color: @color_creamsicle;
			}
		}
	}
	>div:nth-child(4) {
		>div:nth-child(1) {
			/* website title */
			color: @color_wispy_clouds;
		}
		>div:nth-child(2),>div:nth-child(3),>div:nth-child(4) {
			>div:nth-child(2) {

			}
		}
	}
}

/* page 7 */

#page7 {
	background-color: @color_wispy_clouds;
	color: @color_birdymachine;
	background-image: url('../01_pics/15_page7_bg.png');
}
#page7 .row {
	>div:nth-child(2) {
		>div:nth-child(2) {
			/* the image is in here */
			img, video {
				border-color: @color_creamsicle;
			}
		}
	}
	>div:nth-child(4) {
		>div:nth-child(1) {
			/* website title */
			color: @color_bridal_tuesday;
		}
		>div:nth-child(2),>div:nth-child(3),>div:nth-child(4) {
			>div:nth-child(2) {

			}
		}
	}
}
.scalable {
	transform: none;
}
@media (max-width: 374px){
	.scalable {
		transform: scale(.62) translateX(-110px);
	}
}
@media (min-width: 375px) and (max-width: 400px){
	.scalable {
		transform: scale(.68) translateX(-84px);
	}
}
@media (min-width: 401px) and (max-width: 500px){
	.scalable {
		transform: scale(.76) translateX(-57px);
	}
}
@media (min-width: 501px) and (max-width: 525px){
	.scalable {
		transform: scale(.8) translateX(-45px);
	}
}
@media (min-width: 526px) and (max-width: 550px){
	.scalable {
		transform: scale(.85) translateX(-32px);
	}
}
@media (max-width: 550px){
	.centerWhenSkinny {
		text-align: center;
	}
}