<?php
    include ($_SERVER['DOCUMENT_ROOT'] . "/compress.php");
?>
/* CSS/LESS by CXElegance.com */

/* LESS variables */
@color_my_white:	#FFFBF5;
@color_bridal_tuesday:	#FFF3E3;
@color_dirty_ink:	#171006;
@color_wispy_clouds:	#91C1E3;
@color_birdymachine:	#2B1E0B;
@color_creamsicle:	#FFBF66;
@border_on: 0px; /* 1px is on, 0px is off */

body,html {
	width: 100%;
	margin: 0px 0px;
}
body {
	font-size: 0.625em; /* 0.625 em x 16 px/em = 10 px  ... should be 16 px/em... this is for matching Gimp */
}

a {
	text-decoration: none;
	color: inherit;
}

a.linky {
	display: block;
}

#topdock {
	width: 100%;
	position: fixed;
	height: 50px;
	background-color: @color_dirty_ink;
	z-index: 2;
}
a.topdock_text, .detail_display .CXEpage_detail .close {
	color: @color_my_white; /* .color_my_white */
	padding: 4px 5px;
	margin: 2px 1px;
	display: inline-block;
}

.page {
	width: 100%;
}
.top_spacer {
	width: 100%;
	height: 100px;
}
.content_area {
	width: 85%; /* 90% */
	max-width: 1280px;
}
.content_area_narrower {
	/* page1 uses this, perhaps other pages? */
	width: 80%;
}
.row {
	width: 100%; /* 80% */
}
.row_spacer {
	display: inline-block;
	width: 2%; /* this shall be calculated on resize */
	height: 3px;
}
.row_content, a.row_content {
	display: inline-block;
	padding: 15px 0px;
}
.bordered {
	border-style: dotted;
	border-width: @border_on;
	border-color: green;
}
.centered {
	margin-left: auto;
	margin-right: auto;
}
.hideable {
	/* will be played with on window resizes */
}
.overflow_hidden {
	overflow: hidden;
}
.hidden {
	display: none;
}
.fullwidth {
	width: 100%;
}
.halfwidth {
	width: 50%;
}
.popup_minwidth {
	min-width: 450px;
}
.clearfloat {
	width: 100%;
	clear: both;
}
.floatright {
	float: right;
}
.floatleft {
	float: left;
}
.font_yanone {
	font-family: 'Yanone Kaffeesatz', sans-serif;
}
.font_oswald {
	font-family: 'Oswald', sans-serif;
}
.font_lobster {
	font-family: 'Lobster', cursive;
}
.font_size_50 {
	font-size: 5.0em; /* 50px */
}
.font_size_40 {
	font-size: 4.0em; /* 40px */
}
.font_size_21 {
	font-size: 2.1em; /* 21px */
}
.font_size_20 {
	font-size: 2.0em; /* 20px */
}
.linkstyle {
	font-weight: bold;
}

/* general layout positioning and typo tweeking */

#topdock>div {
	width: 100%;
	max-width: 1280px;
}
#topdock>div>.floatleft,.detail_display .topdock>.floatleft {
	font-size: 3.0em; /* 30 px */
	letter-spacing: 0.04em;
}
#topdock>div>.floatright {
	font-size: 5.5em; /* 55 px */
	letter-spacing: -0.1em;
	line-height: 0.4em;
}
.detail_display .CXEpage_detail .close {
	font-size: 5.0em; /* 50 px */
	letter-spacing: -0.1em;
	line-height: 0.4em;
	padding: 4px 9px 19px 4px;
	position: absolute;
	right: 0;
	.bordered;
}
.detail_display .CXEpage_detail .title {
	width: 100%;
	font-size: 2.5em; /* 25 px */
	text-align: center;
	filter: Alpha(opacity=20);
	opacity: 0.2;
	.font_yanone;
}
.detail_display .CXEpage_detail .hr {
	margin-top: 4px;
	margin-bottom: 16px;
	display: block;
	background-color: @color_wispy_clouds;
	width: 95%;
	height: 3px;
	border: 1px solid @color_wispy_clouds;
	border-radius: 2px;
	.centered;
}
.detail_display {
	margin: auto;
	width: 50%;
	min-width: 400px;
}
.detail_display .CXEpage_detail .topdock {
	width: 100%;
	height: 50px;
	background-color: @color_dirty_ink;
	position: relative;
	.font_yanone;
}
.detail_display .inner {
	background-color: @color_my_white;
	border: 4px solid @color_creamsicle;
	border-radius: 25px;
}
.detail_display .CXEpage_detail .content {
	padding: 0px 16px 16px 16px;
	font-size: 2.0em; /* 20px */
	.bordered;
}
#topdock>div>.floatright>.topdock_text {
	padding: 4px 13px 19px 10px;
}
a.linky[href="#cx"] { 
	position: relative;
	top: 17px;
}

/* row/page specific layout and tweeking */

/* page1 */

#page1 {
	background-color: @color_my_white; /* .color_my_white */
	color: @color_birdymachine; /* .color_birdymachine */
	background-image: url('../01_pics/05_page1_bg.png');
	background-repeat: no-repeat;
	background-position: center top;
	.linkstyle {
		color: @color_creamsicle;
	}
}
#row1,#row3,#row4 {
	/* for the home page links */
	font-size: 2.0em; /* 20px */
	letter-spacing: 0.05em;
}
#row3,#row4 {
	padding-top: 29px;
}
#row2 .row_content {
	vertical-align: middle; /* get the right hand text in the middle in FFox */
}
#row2>.font_oswald {
	/* for "web and tech services" and "the client experience" */
	text-align: center;
	font-size: 2.1em; /* 21px */
}
#row2>.font_oswald>div:nth-child(1) {
	/* for "web and tech services" */
	letter-spacing: 0.1em;
}
#row2>.font_oswald>div:nth-child(2) {
	/* for "the client experience" */
	letter-spacing: 0.4em;
}
#row2>div>.font_lobster {
	/* for CXElegance logo */
	font-size: 8.1em; /* 81px */
	max-height: 120px;
}
#row2>div>div:nth-child(2) {
	width: 100%;
	>img {
		/* for CXunderline graphic */
		max-width: 100%;
		position:relative;
		top: -20px;
		}
	}
.CXunderline {
	/* may not be using this, may be selecting the img under the row # */
	background-image: url('../01_pics/04_underline.png');
	background-repeat:no-repeat;
	background-position: left bottom;
	height: 115px; /* this makes the underline graphic sit nicely */
	min-width: 369px; /* we don't want to clip any of the graphic off */
}

/* page 2 */

#page2 {
	background-color: @color_wispy_clouds;
	color: @color_birdymachine; 
	background-image: url('../01_pics/06_page2_bg.png');
	background-repeat: no-repeat;
	background-position: center top;
	.linkstyle {
		color: @color_creamsicle;
	}
}
#page2 #row6 {
	padding-top: 24px;
}
#page2 #row7 {
	padding-top: 35px;
}
#page2 .row {
	>div>div {
		>span:nth-child(1) {
			/* the testimonial text */
			display: block;
			color: @color_my_white;
			.font_oswald;
			.font_size_21;
		}
		>a.linky {
			margin-left: 45%;
			display: inline-block;
			>span {
				/* the read more text */
				.font_yanone;
				.font_size_20;
				letter-spacing: 0.05em;
				padding-top: 7px;
			}
		}
	}
}
.testimonial_detail {
	>div:nth-child(1) {
		/* name */
		font-size: 0.8em;
		padding-left: 20px;
	}
	>div:nth-child(2) {
		/* company / website */
		font-size: 0.8em;
		padding-left: 20px;
		padding-bottom: 15px;
	}
	>div:nth-child(3) {
		/* blockquote testimonial */
		font-style: italic;
	}
}

/* page 3 */

#page3 {
	background-color: @color_my_white;
	color: @color_birdymachine; 
	background-image: url('../01_pics/07_page3_bg.png');
	background-repeat: no-repeat;
	background-position: center top;
	.linkstyle {
		color: @color_creamsicle;
	}
}
#page3 #row9 {
	padding-top: 22px;
}
#page3 #row10 {
	padding-top: 4px;
}
#page3 .row {
	>div>div {
		/* the bordered box */
		border: 2px solid @color_wispy_clouds;
		padding-left: 4px;
		height: 120px;
		width: 120px;
		>div:nth-child(1) {
			/* the date */
			text-align: right;
			.font_oswald;
			font-size: 1.7em; /* 17px */
			line-height: 1em;
		}
		>div:nth-child(2) {
			/* job title */
			.font_oswald;
			font-size: 1.7em; /* 17px */
			letter-spacing: -0.05em;
			padding-top: 15px;
		}
		>div:nth-child(3) {
			/* employer */
			.font_oswald;
			font-size: 1.3em; /* 13px */
			padding: 7px 0px 7px 0px;
		}
		>a.linky {
			text-align: right;
			>span {
				/* the read more text */
				.font_yanone;
				.font_size_20;
				letter-spacing: 0.05em;
			}
		}
	}
}
.resume_detail {
	>div:nth-child(1) {
		/* date range */
	}
	>div:nth-child(2) {
		/* job title */
		font-style: italic;
	}
	>div:nth-child(3) {
		/* company name */
		font-size: 0.8em;
		padding-left: 20px;
	}
	>div:nth-child(4) {
		/* location */
		font-size: 0.8em;
		padding-left: 20px;
	}
	>div:nth-child(5) {
		/* contract */
		font-size: 0.8em;
		padding-left: 20px;
	}
	>div:nth-child(6) {
		/* CX question */
		padding-top: 10px;
		font-style: italic;
	}
	>div:nth-child(7) {
		/* CX answer */
		padding-top: 10px;
	}
}

/* portfolio pages: general */

.portfolio_page {
	background-repeat: no-repeat;
	background-position: center top;
	.row:nth-child(2) {
		/* this hits the second row of each page */
		padding-top: 22px;
	}
	.row {
		>div:nth-child(2) {
			vertical-align: top;
			>div:nth-child(1) {
				/* a spacer only */
				height: 78px;
				width: 100%;
			}
			>div:nth-child(2) {
				/* the image is in here */
				vertical-align: top;
				width: auto;
				min-width: 200px;
				max-width: 355px;
				img {
					max-width: 100%;
					border-width: 2px;
					border-style: solid;
				}
			}
		}
		>div:nth-child(4) {
			vertical-align: top;
			.font_oswald;
			max-width: 500px;
			width: 50%;
			min-width: 300px;
			>div:nth-child(1) {
				/* website title */
				.font_yanone;
				font-size: 4.7em;
				padding-bottom: 22px;
			}
			>div:nth-child(2),>div:nth-child(3),>div:nth-child(4) {
				.font_size_20;
				>div:nth-child(1) {
					/* question */
					display: inline-block;
					width: 80px;
					text-align: right;
					vertical-align: top;
					padding-right: 8px;
				}
				>div:nth-child(2) {
					display: inline-block;
					width: 75%;
					>div:nth-child(1) {
						/* answer */
						vertical-align: top;
						width: 100%;
					}
					>div:nth-child(2) {
						/* "read more" link */
						width: 120px;
					}
				}
			}
		}
	}
}

/* page 4 */

#page4 {
	background-color: @color_creamsicle;
	color: @color_birdymachine; 
	background-image: url('../01_pics/10_page4_bg.png');
	.linkstyle {
		color: @color_wispy_clouds;
	}
}
#page4 .row {
	>div:nth-child(2) {
		>div:nth-child(2) {
			/* the image is in here */
			img {
				border-color: @color_wispy_clouds;
			}
		}
	}
	>div:nth-child(4) {
		>div:nth-child(1) {
			/* website title */
			color: @color_my_white;
		}
		>div:nth-child(2),>div:nth-child(3),>div:nth-child(4) {
			>div:nth-child(2) {
				>a.linky {
					/* "read more" link */
					color: @color_my_white;
				}
			}
		}
	}
}

/* page 5 */

#page5 {
	background-color: @color_bridal_tuesday;
	color: @color_birdymachine; 
	background-image: url('../01_pics/13_page5_bg.png');
	.linkstyle {
		color: @color_creamsicle;
	}
}
#page5 .row {
	>div:nth-child(2) {
		>div:nth-child(2) {
			/* the image is in here */
			img {
				border-color: @color_wispy_clouds;
			}
		}
	}
	>div:nth-child(4) {
		>div:nth-child(1) {
			/* website title */
			color: @color_wispy_clouds;
		}
		>div:nth-child(2),>div:nth-child(3),>div:nth-child(4) {
			>div:nth-child(2) {
				>a.linky {
					/* "read more" link */
					color: @color_wispy_clouds;
				}
			}
		}
	}
}

/* page 6 */

#page6 {
	background-color: @color_birdymachine;
	color: @color_bridal_tuesday;
	background-image: url('../01_pics/14_page6_bg.png');
	.linkstyle {
		color: @color_creamsicle;
	}
}
#page6 .row {
	>div:nth-child(2) {
		>div:nth-child(2) {
			/* the image is in here */
			img {
				border-color: @color_creamsicle;
			}
		}
	}
	>div:nth-child(4) {
		>div:nth-child(1) {
			/* website title */
			color: @color_wispy_clouds;
		}
		>div:nth-child(2),>div:nth-child(3),>div:nth-child(4) {
			>div:nth-child(2) {
				>a.linky {
					/* "read more" link */
					color: @color_wispy_clouds;
				}
			}
		}
	}
}

/* page 7 */

#page7 {
	background-color: @color_wispy_clouds;
	color: @color_birdymachine;
	background-image: url('../01_pics/15_page7_bg.png');
	.linkstyle {
		color: @color_creamsicle;
	}
}
#page7 .row {
	>div:nth-child(2) {
		>div:nth-child(2) {
			/* the image is in here */
			img {
				border-color: @color_creamsicle;
			}
		}
	}
	>div:nth-child(4) {
		>div:nth-child(1) {
			/* website title */
			color: @color_bridal_tuesday;
		}
		>div:nth-child(2),>div:nth-child(3),>div:nth-child(4) {
			>div:nth-child(2) {
				>a.linky {
					/* "read more" link */
					color: @color_bridal_tuesday;
				}
			}
		}
	}
}
